@import "reset.scss";
@import "skills.scss";

body {
  background-color: var(--bg-color);
  font-family: Helvetica, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.p-card {
  &_left-info {
    width: 29%;
    height: 100%;
    background: #444444;
    border-radius: 30px;
  }

  &_right-info {
    flex-basis: 70%;
    height: 100%;
    background: #222222;
    border-radius: 30px;
  }

  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 1100px;
  height: 600px;
  background: #444444;
  margin: auto;
  border-radius: 30px
}

.left-info {
  &_wrapper {
    padding-top: 70px;
  }

  &_cv-button {
  }

  &_copyright {
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 12px;
  }

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.right-info {
  &_name {
    font-weight: bold;
    font-size: 62px;
    line-height: 71px;
    text-align: center;
    color: #FFFFFF;
  }

  &_profession {
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
  }

  &_btn-skills {
    margin-top: 40px;
    color: grey;
  }

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  left: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: scroll;
  padding: 60px 15px;

  &_content {
    background: #f9f9f9;
    border-radius: 3px;
    position: relative;
    box-shadow: 0 5px 15px black;
    width: 600px;
  }

  &_close-button {
    background: #ff0000;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    cursor: pointer;
    transition: .3s;
    outline: none;
  }

  &_close-button:hover {
    transition: .3s;
    transform: rotate(180deg);
  }

  &_title {
    font-size: 18px;
    margin: 0 0 15px;
  }

  &_description {
    font-size: 1.125rem;
  }
}

.active {
  visibility: visible;
}

.wrapper {
  &_logo {
    position: relative;
    width: 180px;
    height: 180px;
    background: #C4C4C4;
    border-radius: 50%;
    box-shadow: 12px 12px rgba(196, 196, 196, 0.2);
  }

  &_name {
    position: relative;
    margin-top: 29px;
    font-weight: bold;
    font-size: 38px;
    line-height: 44px;
    text-align: center;
    color: #FFFFFF;
  }

  &_profession {
    position: relative;
    margin-top: 8px;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
  }

  &_links-list {
    margin-top: 16px;
  }

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.links-list {
  display: flex;
  justify-content: space-between;
  width: 92px;
}

.small-circle {
  width: 24px;
  height: 24px;
  background: #C4C4C4;
  border-radius: 50%;
}

.cv-button {
  width: 168px;
  height: 46px;
  background: #444444;
  border: 3px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CVlink {
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  width: 105px;
  height: 20px;
  color: #FFFFFF;
}

a {
  color: white;
  text-decoration: none;
}




